@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.hero-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/src/assets/businessIT-2.webp");
  background-blend-mode: multiply;
  background-size: cover;
}

.about-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/src/assets/about-img.webp");
  background-blend-mode: multiply;
  background-size: cover;
}

.service-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/src/assets/security-2.webp");
  background-blend-mode: multiply;
  background-size: cover;
}

.contact-img {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/src/assets/connect.webp");
  background-blend-mode: multiply;
  background-size: cover;
}

@layer base {
  h1 {
    @apply text-4xl font-bold sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-base lg:text-lg;
  }

  .subtext {
    @apply text-base md:text-lg;
  }

  .max-container {
    @apply max-w-[1224px] w-[90%] mx-auto;
  }
}
