@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-bold;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold;
  }

  p {
    @apply text-base lg:text-lg;
  }

  .subtext {
    @apply text-base md:text-lg;
  }

  .max-container {
    @apply max-w-[1440px] w-[90%] mx-auto;
  }
}
